.button {
    font: inherit;
    border: 1px solid hsl(290, 100%, 19%);
    background: hsl(220, 82%, 24%);
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: hsl(218, 55%, 45%);
    border-color: hsl(290, 78%, 30%);
  }
  
  .button:focus {
    outline: none;
  }